{% extends "base.html" %}
{% block body %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<h1 id="title">ODO DASHBOARD</h1>
<div class="container article">
  <section class="hero is-primary is-bold is-large">
    <div class="hero-body">
      <div class="row justify-content-end"><a class="btn btn-info btn-lg" onclick="gotoURL('/')">Home</a></div>
      <div class="row justify-content-center">
        <img class="img-responsive" style="max-width:30%;" src="{{ url_for('static', filename='errorp.png') }}" />
      </div>
      <div class="row justify-content-center">
        <h1 style="color:black;">Error Occured</h1>
      </div>
      <div class="row justify-content-center">
        <h3>Well! That's embarrassing, Something's Wrong</h3>
      </div>
      <div class="row justify-content-center">
        <p style="font-size: small;" id="err"></p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block scripts %}
<script>
  document.getElementById("err").innerHTML = "{{error}}"
</script>
{% endblock %}